<!DOCTYPE html>
<link rel="stylesheet" href="/styles/styleSheet.css">
<title>{{ window_title }}</title>

<div id="mainPageHeaderBox">
<ul>
<!-- Put list items here for each page of your site using this format -->
<li><a href="role_name/main.html" target="_self">Displayed Name</a></li>
</ul>
</div>

<br><img src="/static/main/mainPicture.jpg" alt="word" style="width:300px;height:300px;">
</center>
