{% include "standardTopper.j2" %}
<html>
<body>
<pre>
Here are some repos:

your_repo_name:
{{ repo_user }}@{{ fqdn }}:{{ webroot }}/repos/your_repo_name.git
</pre>

{% include "standardFooter.j2" %}
</body>
</html>
